<div class="container">
  <div class="horizontal-container wrap">
    <div class="item grow 2">
      <h4 class="display-4">
        Guilherme Ribas
        <h4 class="display-6">
          <small class="text-muted">Front End Developer</small>
        </h4>
      </h4>

      <div class="horizontal-container wrap">
        <div class="horizontal-container wrap teste">
          <i class="fa fa-phone"></i>
          <span>+5545999360217</span>
        </div>
        <div class="horizontal-container wrap teste">
          <i class="fa fa-map-marker"></i>
          <span>Cascavel, Paraná, Brazil</span>
        </div>
        <div class="horizontal-container wrap teste">
          <i class="fa fa-envelope"></i>
          <span>guiyribas@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="item profile-picture">
    <img
      src="../../../../assets/images/mike.jpg"
      class="rounded-circle"
      alt="Cinque Terre"
      width="104"
      height="80"
    />
  </div>
</div>
