<h4>
  EXPERIENCE
</h4>

<div *ngFor="let job of jobs">
  <h5>
    {{ job.company }}
    <h5 class="display-6">
      <small class="text-muted">{{ job.function }}</small>
    </h5>
  </h5>
  <div class="horizontal-container wrap teste">
    <i class="fa fa-calendar"></i>
    <span>{{ job.dateString }}</span>
  </div>
  <div class="horizontal-container wrap teste">
    <i class="fa fa-map-marker"></i>
    <span>{{ job.location }}</span>
  </div>
  <div>
    <p>
      {{ job.jobFunction }}
    </p>
    <ul>
      <p>
        Main tasks:
      </p>
      <li *ngFor="let tasks of job.mainTasks">
        {{ tasks }}
      </li>
    </ul>
  </div>
</div>
